:root {
  --primary-color: #ffd900;
  --secondary-color: #99a700;
  --accent-color: #00c181;
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 100%;
  background-color: #ffd900;
  top: 0;
  position: absolute;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header button {
  width: 120px;
  height: 30px;
  border: none;
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

header button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #efeff2;
  height: 100vh;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

#menu {
  display: flex;
}

#contact {
  display: flex;
}

.card {
  background-color: var(--primary-color);
  padding: 20px;
  color: black;
  border-radius: 10px;
}

img {
  width: 250px;
}
